@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

body {
  background-color: black;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

@theme {
  /* Fonts */
  --font-display: "Outfit", "sans-serif";

  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;

  /* Colors */
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);

  --color-btnClr: #4d2ff5;
  --color-subHead: #8c8c8c;
  --color-lightPur: #a032fb;
  --color-lighterPur: #d266f7;
  --color-reviewCard: #13151b;
  --color-bgColor: rgba(17, 25, 40, 0.75);
  --color-border: rgba(255, 255, 255, 0.125);
  --color-main-bg: #0d0d0f;
  --color-card-bg: #333533;
  --color-light-hover: #e9ecef;
  --color-dark-hover: #1e201e;
  --color-light-col: #fbfbfb;
  --color-priority-low: #86efac;
  --color-priority-medium: #fde047;
  --color-priority-high: #f87171;

  /* Animations */
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

  /* Box Shadows */
  --box-shadow-price: rgba(160, 145, 250, 0) 0px 0px 40px 10px;
  --box-shadow-card: 0px 4px 6px rgba(255, 255, 255, 0.1);
  --box-shadow-btm-shd: rgba(0, 0, 0, 0.1) 0px 1px 1px;
  --box-shadow-custom: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  --box-shadow-light-btm: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);

  /* Heights */
  --height-btm-height: calc(100vh - 72px);
  --height-col-container: calc(100% - 109px);

  /* Backdrop */
  --backdrop-blur-custom: 16px;
  --backdrop-saturate-custom: 180%;

  /* Keyframes for Animations */
  --keyframes-border: {
    to: {
      --border-angle: 360deg;
    }
  }
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
select {
  @apply w-full px-2 py-2 bg-transparent border-2 rounded-lg outline-none border-white/20;
}

label {
  display: block;
  margin: 4px 0;
  font-size: 1rem /* 16px */;
  line-height: 1.5rem /* 24px */;
  color: var(--text-color);
}

.btn {
  color: var(--btn-color);
}

.btn {
  @apply px-4 py-2 rounded-md hover:scale-105;
}

.center {
  @apply flex items-center justify-center;
}

.error {
  @apply text-sm text-red-500;
}

.xs-error {
  @apply text-xs text-red-500;
}

.hover-menu {
  @apply relative cursor-pointer hover:text-lightPur;
}

.hover-menu::after {
  @apply content-[''] block absolute bottom-0 left-0 h-0.5 bg-lightPur;
  width: 0%;
  transition: width 0.3s ease-out;
}

.hover-menu:hover::after {
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.animate-spin {
  animation: spin 5s linear infinite;
}

hr {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.03);
  --background-color: hsla(0, 0%, 100%, 0.03300000000000003);
}

.btm-comp {
  /* @apply w-full h-[calc(100vh - 72px)]; */
  /* height: calc(100vh- 72px); */
}

.btn-primary {
  @apply bg-white/80;
  background: #4d2ff5;
}

.card {
  @apply min-w-[350px] bg-white/5 rounded-xl p-5 border border-white/10 backdrop-blur-md;
}

.form-group {
  @apply mb-5;
}

.gradient-txt {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-[#4b83ff]  to-[#b794f4];
}
